.grid-container{
    display: grid;
    grid-template-areas:
    'header  header   header'
    'main    main     sidebar'
    'main    main     sidebar'
    'footer  footer   footer';
    gap: 10px;
    padding: 10px;
}