.textoTerciario {
    font-size: 40px;
    font-weight: bolder;
    padding: 20px;
}

.textoSecundario {
    font-size: 42px;
    font-weight: bolder;
    padding: 20px;
    margin-top: 20px;
}

.titulos {
    font-size: 27px;
    font-weight: bolder;
}

.tituloTres {
    font-size: 23px;
    font-weight: bolder;
}

.btn-enviar,
.btn-resetear {
    outline: none;
    border: none;
}