@mixin redes ($bgcolor) {
    transition: 0.5s;
 margin-bottom: auto;
 padding: 18px 5px;
 border-radius: 3px;
 transition: 0.5s;


    &:hover {
        background-color: $bgcolor;
    }
}

@mixin boton ($bgcolor) {
    &:hover {
        background-color: $bgcolor;
    }
}



@media screen and (max-width:$desktop) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header  header   header    header'
            'main    main     main      sidebar'
            'main    main     main      sidebar'
            'footer  footer   footer    footer';
        gap: 10px;
    }
}

@media screen and (max-width: $mobile) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header'
            'main'
            'sidebar'
            'footer';
        gap: 5px;
        padding: auto;
        margin: auto;
    }

    .header {
        grid-area: header;
        display: flex;
        justify-content: center;
    }

    .main {
        grid-area: main;
        display: flex;
        justify-content: center;
    }

    .sidebar {
        grid-area: sidebar;
        flex-direction: column;
        justify-content: center;
    }

    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    
 
    .grid-container {
        padding-left: auto;
        padding-top: auto;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .fondo {
        max-width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding: auto;
        margin: auto;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .navbar-brand {
        width: 40%;
        max-width: 40px;
        padding: auto;
        margin: auto;
    }

    /* menu */
    .nav {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 60%;
        align-items: center;
        height: 60%;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    


    .articulos {
        grid-template-columns: repeat(2, ifr);
    }

    .article {
        grid-template-columns: repeat(2, ifr);
    }

    .form {
        display: grid;
    }

    .main,
    .contacto {
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
        padding: 0 40px;
    }

    .parrafo {
        font-size: 15px;
    }

    .reel {
        flex-direction: column-reverse;
        display: flex;
        margin: 5px auto;
        justify-content: center;
    }

    .fotos {
        flex-direction: column-reverse;
        display: flex;
        margin: 5px auto;
        justify-content: center;
    }
    .btn-enviar, .btn-resetea{
        flex-direction: column-reverse;
        display: flex;
        margin: 5px auto;
        justify-content: center;
    }
    .navbar-light .navbar-toggler{
        border-radius: 20px;
        border-color: #a3e4ff;
        padding: 5px;
      
    }
    .navbar-toggler-icon{ 
       
        border-color: #a3e4ff;
        
    }
    .sidebar {
        flex-direction: column;
       
    }

    .fotos2 {
        flex-direction: column-reverse;
        display: flex;
        max-width: 300px;
        margin: 10px auto;
        justify-content: center;
    }
}
.descripcion {
    font-weight: 300;
    margin: 0 14px;
    text-align: center;
    padding:8 10px;
    font-size: 20px;
  
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 40px;
    font-size: 18px;
}
.fotos3 {
    display: block;
    justify-content: center;
}


